<div class="layout-top-nav" style="height: auto">
   <div class="wrapper">
      <!-- Navbar -->
      <app-header />
      <!-- /.navbar -->
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
         <div class="content">
            <div class="container" style="padding-top: 1rem">
               <router-outlet></router-outlet>
            </div>
         </div>
      </div>
      <!-- /.content-wrapper -->
      <!-- Main Footer -->
      <app-footer />
   </div>
 = bjj <!-- ./wrapper -->
</div>
