/* You can add global styles to this file, and also import other style files */
.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
  background-color: #e3e3e1;
}
.user-profile-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.content-header{
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  padding-top :0.1rem;
  padding-bottom: 0.6rem;
}